:root {
    --text: #0b0c0c;
    --text-alt: #505a5f;
    --link: #003078;
    --link-alt: #1d70b8;
    --border: #b1b4b6;
    --border-admonition: #730b0b;
    --border-header: #730b0b;
    --main-title-fg: #ffffff;
    --main-title-bg: #730b0b;
    --thead-fg: #ffffff;
    --thead-bg: #730b0b;
    --table-bar-fg: #555555;
}

* {
    box-sizing: border-box;
    max-width: 100%;
    object-fit: scale-down;
    margin: 0;
    padding: 0;
}

#wrapper {
    max-width: 960px;
    margin: 64px auto;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 20px;
}

body {
    font-family: "Noto Sans", sans-serif;
    color: var(--text);
    padding: 0 20px;
}

header {
    margin-bottom: 16px;
    text-align: right;
}

footer {
    color: var(--text-alt);
    text-align: right;
    padding: 8px;
    font-size: 0.8rem;
}

h1 {
    font-family: "Staatliches", serif;
    font-size: 2rem;
    text-align: right;
    color: var(--main-title-fg);
    background-color: var(--main-title-bg);
    padding: 16px;
    margin-bottom: 24px;
}

p {
    line-height: 1.6;
}

main p {
    margin-bottom: 16px;
}

a {
    color: var(--link);
    text-decoration: underline;
}

a:hover {
    color: var(--link-alt);
    text-decoration: none;
}

.link--no-underline {
    text-decoration: none;
}

.link--navbar {
    margin-left: 1rem;
    text-transform: lowercase;
}

ul, ol {
    padding-left: 20px;
}

li {
    margin-bottom: 16px;
}

img {
    margin: 0 auto;
    display: block;
}

code {
    font-family: "Alegreya Sans SC", monospace;
}

pre {
    font-size: 0.8em;
    overflow-x: scroll;
}

pre code {
    font-family: "Triplicate B Code", monospace;
}

table {
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-collapse: collapse;
    margin-bottom: 16px;
}

thead {
    background-color: var(--thead-bg);
    color: var(--thead-fg);
}

thead a {
    color: var(--thead-fg) !important;
}

th, td {
    padding: 8px;
    vertical-align: top;
}

tbody td, tbody th {
    border-bottom: 1px solid var(--border);
}

.archive-list {
    list-style-type: none;
    padding: 0;
}

.archive-list__metadata {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.archive-list__tags {
    text-transform: lowercase;
}

.post-metadata {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33%;
    grid-template-rows: min-content min-content;
    margin-top: 24px;
}

.post-metadata__label {
    font-weight: bold;
}

.markdown h2 {
    font-family: "Staatliches", serif;
    font-size: 2rem;
    margin-bottom: 16px;
}

.markdown h2:not(:first-child) {
    margin-top: 24px;
    padding-top: 8px;
    border-top: 1px solid var(--border);
}

.markdown blockquote, .markdown pre {
    border-left: 5px solid var(--border);
    padding-left: 8px;
    margin-top: 16px;
    margin-left: 16px;
}

.markdown h3 {
    font-family: "Staatliches", serif;
    font-size: 1.5rem;
    margin-bottom: 16px;
    margin-top: 32px;
}

.markdown h4 {
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 16px;
}

.markdown .admonition {
    padding: 16px;
    margin: 16px 0;
    border: 5px dashed var(--border-admonition);
    font-weight: bold;
}

.markdown .admonition p:last-child {
     margin-bottom: 0;
     padding-bottom: 0;
}

.markdown .num {
    width: 5%;
    text-align: right;
}

.markdown .roll-table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.markdown .probability-table {
    width: 100%;
}

.markdown .bar {
    background-color: var(--table-bar-fg);
}

@media (max-width: 600px) {
    html {
        font-size: 16px;
    }

    #wrapper {
        margin-top: 20px;
    }

    .top-navigation__link {
        margin: 8px 0;
        display: block;
    }

    .archive-list__metadata {
        flex-direction: column;
    }
}
