:root {
    --text: #0b0c0c;
    --text-alt: #505a5f;
    --link: #003078;
    --link-alt: #1d70b8;
    --link-glossary: var(--text);
    --border: #b1b4b6;
    --border-admonition: #730b0b;
    --border-header: #730b0b;
    --main-title-fg: #ffffff;
    --main-title-bg: #730b0b;
    --thead-fg: #ffffff;
    --thead-bg: #730b0b;
    --table-bar-fg: #555555;
}

* {
    box-sizing: border-box;
    max-width: 100%;
    object-fit: scale-down;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 20px;
}

body {
    font-family: "Noto Sans", sans-serif;
    color: var(--text);
    padding: 0 20px;
}

p {
    line-height: 1.6;
}

#wrapper {
    max-width: 960px;
    margin: 64px auto;
}

.heading, .markdown h2, .markdown h3 {
    font-family: "Staatliches", serif;
    font-size: 2rem;
    margin-bottom: 16px;
}

.heading--main {
    font-size: 2.5rem;
    text-align: right;
    margin-bottom: 24px;
    padding: 16px;
    color: var(--main-title-fg);
    background-color: var(--main-title-bg);
}

.division + .division, .markdown h2:not(:first-child) {
    margin-top: 24px;
    padding-top: 8px;
    border-top: 1px solid var(--border);
}

.post-metadata {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33%;
    grid-template-rows: min-content min-content;
    margin-top: 24px;
}

.post-header {
    margin: 0 auto 24px auto;
    display: block;
    border: 1px solid var(--border-header);
}

.markdown blockquote {
    border-left: 5px solid var(--border);
    padding-left: 8px;
    margin-top: 16px;
    margin-left: 16px;
}

.post-metadata__label {
    font-weight: bold;
}

.link, .markdown a {
    color: var(--link);
    text-decoration: underline;
}

.link:hover, .markdown a:hover {
    color: var(--link-alt);
    text-decoration: none;
}

.link--glossary {
    color: var(--link-glossary) !important;
}

.link--no-underline {
    text-decoration: none;
}

.top-navigation {
    text-align: center;
}

.top-navigation__link {
    font-family: "Staatliches", serif;
    margin: 16px 32px;
    display: inline-block;
    border-top: 5px solid transparent;
    font-size: 2rem;
}

.top-navigation__link[aria-current="page"] {
    border-color: var(--link);
}

.footer {
    color: var(--text-alt);
    text-align: right;
    padding: 8px;
    font-size: 0.8rem;
}

.markdown h3 {
    margin-top: 32px;
    font-size: 1.5rem;
}

.markdown h4 {
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 16px;
}

.markdown ul, .markdown ol {
    padding-left: 20px;
}

.markdown p, .markdown li, .markdown table {
    margin-bottom: 16px;
}

.markdown .admonition {
    padding: 16px;
    margin: 16px 0;
    border: 5px dashed var(--border-admonition);
    font-weight: bold;
}

.markdown .admonition p:last-child {
     margin-bottom: 0;
     padding-bottom: 0;
}

.markdown img {
    margin: 0 auto;
    display: block;
}

.markdown code {
    font-family: "Alegreya Sans SC", monospace;
}

.markdown table {
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-collapse: collapse;
}

.markdown thead {
    background-color: var(--thead-bg);
    color: var(--thead-fg);
}

.markdown thead a {
    color: var(--thead-fg) !important;
}

.markdown th, .markdown td {
    padding: 8px;
    vertical-align: top;
}

.markdown tbody td, .markdown tbody th {
    border-bottom: 1px solid var(--border);
}

.markdown .num {
    width: 5%;
    text-align: right;
}

.markdown .roll-table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.markdown .probability-table {
    width: 100%;
}

.markdown .bar {
    background-color: var(--table-bar-fg);
}

@media (max-width: 600px) {
    html {
        font-size: 16px;
    }

    #wrapper {
        margin-top: 20px;
    }

    .top-navigation__link {
        margin: 8px 0;
        display: block;
    }

    .heading--main {
        font-size: 2rem;
    }
}
