<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Michael Walker">
    <meta name="robots" content="FOLLOW,INDEX">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:site_name" content="Look What the Shoggoth Dragged In">
    <meta property="og:url"       content="{{ permalink }}">
    <meta property="og:title"     content="{{ title }} - Look What the Shoggoth Dragged In">

    <meta name="twitter:card"    content="summary_large_image">
    <meta name="twitter:site"    content="@barrucadu">
    <meta name="twitter:creator" content="@barrucadu">
    <meta name="twitter:image"   content="{{ base_href }}{{ twitter_card}}">

    <link rel="canonical" href="{{ permalink }}">

    <base href="{{ base_href }}">

    <link rel="stylesheet preload" href="{{ hashed_links['style.css'] }}" as="style" type="text/css">
    <link rel="stylesheet preload" href="{{ hashed_links['webfonts.css'] }}" as="style" type="text/css">

    <link rel="alternate" type="application/atom+xml" href="feed.xml" title="Atom feed for Recent Posts" />
    <link rel="alternate" type="application/feed+json" href="feed.json" title="JSON feed for Recent Posts" />
{%- for slug in topics %}
    <link rel="alternate" type="application/atom+xml" href="topic/{{ slug }}.xml" title="Atom feed for {{ topics[slug] }}" />
    <link rel="alternate" type="application/feed+json" href="topic/{{ slug }}.json" title="JSON feed for {{ topics[slug] }}" />
{%- endfor %}
{%- for slug in systems %}
    <link rel="alternate" type="application/atom+xml" href="system/{{ slug }}.xml" title="Atom feed for {{ systems[slug] }}" />
    <link rel="alternate" type="application/feed+json" href="system/{{ slug }}.json" title="JSON feed for {{ systems[slug] }}" />
{%- endfor %}
{%- for year in years %}
    <link rel="alternate" type="application/atom+xml" href="year/{{ year }}.xml" title="Atom feed for {{ year }}" />
    <link rel="alternate" type="application/feed+json" href="year/{{ year }}.json" title="JSON feed for {{ year }}" />
{%- endfor %}

    {% if not draft_mode %}<script async defer data-website-id="8cb27df6-60d1-468d-81ad-923168d97095" src="https://umami.lookwhattheshoggothdraggedin.com/script.js"></script>{% endif %}

    <title>{{ title }} - Look What the Shoggoth Dragged In</title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <img src="logo.png" alt="Well well well, look what the shoggoth dragged in.">

        <nav>
          <a class="link--navbar" href=""{% if link == "index.html" %} aria-current="page"{% endif %}>Articles</a>
          <a class="link--navbar" href="resources.html"{% if link == "resources.html" %} aria-current="page"{% endif %}>Links to things I like</a>
        </nav>
      </header>

      <main>
        <h1>{{ title }}</h1>

        {% block main %}{% endblock %}
      </main>
    </div>

    <footer>
      <p>Copyright <a href="https://www.barrucadu.co.uk">Michael Walker</a>, available under the terms of the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><abbr title="Creative Commons">CC</abbr> <abbr title="Attribution-NonCommercial-ShareAlike 4.0 International">BY-NC-SA 4.0</abbr> license</a>.</p>
      <p>The logo image uses fonts from the <a href="https://store.hplhs.org/products/hplhs-fonts"><abbr title="H. P. Lovecraft Historical Society">HPLHS</abbr> fonts collection</a>.</p>
      <p>The body text uses the following fonts: <a href="https://fonts.google.com/specimen/Alegreya+Sans+SC">Alegreya Sans SC</a>, <a href="https://mbtype.com/fonts/triplicate/">Triplicate</a>, <a href="https://fonts.google.com/specimen/Noto+Sans">Noto Sans</a>, and <a href="https://fonts.google.com/specimen/Staatliches">Staatliches</a>.</p>
    </footer>
  </body>
</html>
