{% extends "_base.html" %}
{% block main %}
  <ul class="archive-list">
  {%- for post in posts %}
    <li>
      <a class="link--no-underline" href="{{ post.permalink }}">{{ post.title }}</a>
      <div class="archive-list__metadata">
        <time datetime="{{ post.date }}">{{ post.month }} {{ post.day }}, {{ post.year }}</time>
        <span class="archive-list__tags">
          <a href="topic/{{ post.topic }}.html">#{{ topics[post.topic] }}</a>{% if post.system %}, <a href="system/{{ post.system }}.html">#{{ systems[post.system] }}</a>{% endif %}
        </span>
      </div>
    </li>
  {%- endfor %}
  </ul>
{% endblock %}
