{% extends "base.html" %}
{% block main %}
  {%- for post in posts %}
  <section class="summary-with-excerpt">
    <div class="summary-with-excerpt__main">
      <h2 class="heading"><a class="link link--heading" href="{{ post.permalink }}">{{ post.title }}</a></h2>

      <blockquote class="excerpt">
        <p>{{ post.excerpt }}</p>
      </blockquote>
    </div>

    <dl class="summary-with-excerpt__metadata">
      <dt class="metadata-label">Posted</dt>
      <dd class="metadata-value">{{ post.month }} {{ post.day }}, <a class="link" href="year/{{ post.year }}.html">{{ post.year }}</a></dd>
      <dt class="metadata-label">Topic</dt>
      <dd class="metadata-value"><a class="link" href="topic/{{ post.topic }}.html">{{ topics[post.topic] }}</a></dd>
  {%- if post.system %}
      <dt class="metadata-label">System</dt>
      <dd class="metadata-value"><a class="link" href="system/{{ post.system }}.html">{{ systems[post.system] }}</a></dd>
  {%- endif %}
    </dl>
  </section>
  {%- endfor %}
{% endblock %}
