{% extends "_base.html" %}
{% block main %}
  <div class="markdown">
    {{ post.body | safe }}
  </div>

  <dl class="post__metadata">
    <dt class="metadata-label">Posted</dt>
    <dd class="metadata-value">{{ post.month }} {{ post.day }}, <a class="link" href="year/{{ post.year }}.html">{{ post.year }}</a></dd>
    <dt class="metadata-label">Topic</dt>
    <dd class="metadata-value"><a class="link" href="topic/{{ post.topic }}.html">{{ topics[post.topic] }}</a></dd>
  {%- if post.system %}
    <dt class="metadata-label">System</dt>
    <dd class="metadata-value"><a class="link" href="system/{{ post.system }}.html">{{ systems[post.system] }}</a></dd>
  {%- endif %}
  </dl>
{% endblock %}
{% block afterward %}
  <script defer src="https://commento.lookwhattheshoggothdraggedin.com/js/commento.js"></script>
  <div id="commento"></div>
{% endblock %}
