:root {
    --text: #0b0c0c;
    --text-alt: #505a5f;
    --link: #003078;
    --link-alt: #1d70b8;
    --border: #b1b4b6;
    --main-title-fg: #ffffff;
    --main-title-bg: #730b0b;
}

* {
    box-sizing: border-box;
    max-width: 100%;
    object-fit: scale-down;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 100%;
    font-family: "Noto Sans", sans-serif;
    color: var(--text);
}

p {
    line-height: 1.6;
}

.markdown p {
    margin-bottom: 16px;
}

#wrapper {
    max-width: 960px;
    margin: 64px auto;
}

.heading, .markdown h2, .markdown h3 {
    font-family: "Bungee", cursive;
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 16px;
}

.heading__link {
    text-decoration: none;
}

.markdown h3 {
    font-size: 1rem;
}

.heading--main {
    font-size: 3rem;
    text-align: right;
    margin-bottom: 24px 0;
    padding: 16px;
    color: var(--main-title-fg);
    background-color: var(--main-title-bg);
}

.summary + .summary {
    margin-top: 24px;
    padding-top: 8px;
    border-top: 1px solid var(--border);
}

.post-metadata {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33%;
    grid-template-rows: min-content min-content;
    margin-top: 24px;
}

#commento {
    padding-top: 8px;
    margin-top: 24px;
    border-top: 1px solid var(--border);
}

.excerpt, .markdown blockquote {
    border-left: 5px solid var(--border);
    padding-left: 8px;
    margin-top: 16px;
    margin-left: 16px;
    font-size: 1.1rem;
}

.post-metadata__label {
    font-weight: bold;
}

.link, .markdown a {
    color: var(--link);
    text-decoration: underline;
}

.link:hover, .markdown a:hover {
    color: var(--link-alt);
    text-decoration: none;
}

.top-navigation {
    text-align: center;
}

.top-navigation__link {
    font-family: "Bungee", cursive;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1;
    margin: 16px 32px;;
    display: inline-block;
}

.top-navigation__link[aria-current="page"] {
    border-top: 3px solid var(--link);
}

.footer {
    color: var(--text-alt);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    text-align: right;
    font-size: 0.8rem;
    padding: 8px;
}

.markdown ul, .markdown ol {
    padding-left: 40px;
}
